@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Black+Han+Sans&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Oswald:wght@200;400;700&family=Secular+One&family=Source+Sans+Pro&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue';
}

.main__navbar {
  width: 100vw;
  height: 3.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.main__navbar a {
  -ms-flex-preferred-size: 10vw;
      flex-basis: 10vw;
  margin: 1vw 1vw;
  font-size: 1vw;
  color: white;
  text-shadow: 0px 2px #1f008d;
  text-decoration: none;
  text-align: center;
  -webkit-transition: font-size 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: font-size 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.main__navbar a:hover {
  font-size: 1.1vw;
}

.main__navbar a i {
  padding-right: 0.4vw;
}

.main__background {
  width: 100vw;
  height: 45vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.15))), url(../img/bg_img.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)), url(../img/bg_img.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.main__background h3 {
  position: relative;
  top: 10vw;
  margin: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#3000df), to(rgba(154, 0, 192, 0.9)));
  background: linear-gradient(#3000df, rgba(154, 0, 192, 0.9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5.5vw;
  text-shadow: 0px -5px white;
}

.main__background p {
  position: relative;
  top: 10vw;
  margin: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#2500aa), to(rgba(98, 0, 122, 0.9)));
  background: linear-gradient(#2500aa, rgba(98, 0, 122, 0.9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2vw;
  text-shadow: 0px -4px white;
}

.main__background a {
  position: relative;
  top: 20vw;
  padding: 0.5vw 2.5vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#340086), to(#1e00a3));
  background: linear-gradient(#340086, #1e00a3);
  border-radius: 5vw;
  -webkit-box-shadow: 0px 0.15vw 10px rgba(21, 0, 78, 0.5);
          box-shadow: 0px 0.15vw 10px rgba(21, 0, 78, 0.5);
  font-size: 2.75vw;
  color: white;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px 4px 1px rgba(21, 0, 78, 0.5);
  -webkit-transition: font-size 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: font-size 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.main__background a:hover {
  font-size: 3vw;
}

.main__background a i {
  margin: auto 1vw;
}

.main__information {
  width: 100vw;
  height: 45vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#3000df), to(rgba(154, 0, 192, 0.9)));
  background: linear-gradient(#3000df, rgba(154, 0, 192, 0.9));
}

.main__information--title {
  color: white;
  text-shadow: 0px 2px rgba(42, 0, 119, 0.5);
  text-align: center;
  position: relative;
  top: 4vw;
}

.main__information--title h4 {
  height: 5.5vw;
  margin: 0;
  font-size: 5.5vw;
  text-shadow: 0px 3px #1e00a3;
}

.main__information--title h4:hover {
  text-shadow: 0px 2px #1e00a3;
}

.main__information--title p {
  margin: 0;
  font-size: 2vw;
  font-family: 'Black Han Sans', sans-serif;
  text-shadow: 0px 2px #1e00a3;
}

.main__information--element {
  width: 80vw;
  height: 22.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 7.5vw;
  left: 0vw;
  right: 0vw;
  margin: auto;
  background: white;
  background-size: cover;
  border-radius: 25px;
  -webkit-box-shadow: 0px 5px 2px rgba(30, 0, 163, 0.25);
          box-shadow: 0px 5px 2px rgba(30, 0, 163, 0.25);
}

.main__information--element .information--guide {
  -ms-flex-preferred-size: 20vw;
      flex-basis: 20vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#3000df), to(rgba(154, 0, 192, 0.9)));
  background: linear-gradient(#3000df, rgba(154, 0, 192, 0.9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.main__information--element .information--guide i {
  margin: 0vw auto 0.75vw auto;
  font-size: 7.5vw;
}

.main__information--element .information--guide span {
  display: block;
  margin: 0vw auto;
  font-size: 3vw;
}

.main__information--element .information--guide p {
  width: 12vw;
  margin: 0vw auto;
  font-family: nanumsquare;
  font-size: 1vw;
}

.main__information--element .information--guide:hover {
  -ms-flex-preferred-size: 19vw;
      flex-basis: 19vw;
  margin: 0vw 2vw;
}

.main__darken-gradient {
  width: 100vw;
  height: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.main__leaderboard {
  width: 100vw;
  height: 60vw;
  background-image: url(../img/bg_img2.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.main__leaderboard--title {
  color: white;
  text-shadow: 0px 2px rgba(42, 0, 119, 0.5);
  text-align: center;
  position: relative;
  top: 4vw;
}

.main__leaderboard--title h4 {
  height: 5.5vw;
  margin: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#2500aa), to(rgba(98, 0, 122, 0.9)));
  background: linear-gradient(#2500aa, rgba(98, 0, 122, 0.9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px -4px white;
  font-size: 5.5vw;
}

.main__leaderboard--title h4:hover {
  text-shadow: 0px -2px white;
}

.main__leaderboard--title p {
  margin: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#2500aa), to(rgba(98, 0, 122, 0.9)));
  background: linear-gradient(#2500aa, rgba(98, 0, 122, 0.9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px -2px white;
  font-size: 2vw;
  font-family: 'Black Han Sans', sans-serif;
}

.main__leaderboard--list {
  width: 80vw;
  height: 39vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  top: 7.5vw;
  left: 0vw;
  right: 0vw;
  margin: auto;
  background: white;
  background-size: cover;
  border-radius: 25px;
  -webkit-box-shadow: 0px 5px 2px rgba(30, 0, 163, 0.25);
          box-shadow: 0px 5px 2px rgba(30, 0, 163, 0.25);
}

.main__leaderboard--list .leaderboard--header {
  -ms-flex-preferred-size: 80vw;
      flex-basis: 80vw;
  height: 4vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#2500aa), to(rgba(98, 0, 122, 0.9)));
  background: linear-gradient(#2500aa, rgba(98, 0, 122, 0.9));
  border-radius: 20px 20px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main__leaderboard--list .leaderboard--header span {
  -ms-flex-preferred-size: 20vw;
      flex-basis: 20vw;
  margin: 1.1vw auto 0vw auto;
  color: white;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 2vw;
}

.main__leaderboard--list .leaderboard--list {
  -ms-flex-preferred-size: 80vw;
      flex-basis: 80vw;
  height: 3.3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: center;
}

.main__leaderboard--list .leaderboard--list span {
  -ms-flex-preferred-size: 20vw;
      flex-basis: 20vw;
  margin: auto;
  color: #1e00a3;
  font-size: 1.75vw;
}

.main__leaderboard--list .leaderboard--list i {
  margin-right: 10px;
}

.main__leaderboard--list .leaderboard--list:nth-child(even) {
  background: rgba(48, 0, 223, 0.05);
  border-top: 1px solid rgba(21, 0, 78, 0.1);
  border-bottom: 1px solid rgba(21, 0, 78, 0.1);
}

.main__footer {
  width: 100vw;
  height: 10vw;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(98, 0, 122, 0.9)), to(#2500aa));
  background: linear-gradient(rgba(98, 0, 122, 0.9) 40%, #2500aa);
}

.main__footer--element {
  color: white;
}

.main__footer--element i {
  width: 2.5vw;
  height: 2.5vw;
  margin: 2vw 4vw 1vw 4vw;
  font-size: 2vw;
  text-shadow: 0px 2px 1px #1f008d;
  line-height: 2.5vw;
}

.main__footer--element p {
  margin: 0.2vw 0vw;
  font-family: 'Oswald', sans-serif;
  font-size: 1vw;
}
/*# sourceMappingURL=style.css.map */