<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SCSS, CSS 관련 link 라인 -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/mypage.css">
    <!-- 아이콘 및 fontawesome import 라인 -->
    <link rel="icon" href="../static/img/icon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/e3d1ead7f0.js" crossorigin="anonymous"></script>
    <title>Baik's Minegame Center</title>
</head>
<body>
    <div class="container">
        <nav class="main__navbar">
            <a href="{{ url_for('main.main_page')}}"><i class="fa-solid fa-square-caret-right"></i>Lobby</a>
            <a href="{{ url_for('main.main_page') + '#section-leader'}}"><i class="fa-solid fa-award"></i></i>Leaderboard</a>
            <a href="{{ url_for('main.my_page') }}"><i class="fa-solid fa-user"></i></i>{{username}}</a>
            <a href="{{ url_for('account.logout') }}"><i class="fa-solid fa-right-from-bracket"></i>log out</a>
        </nav>
        <div class="main__background">
            <h3>Find the same picture</h3>
            <p>Welcome Back {{username}}! have a good day!</p>
            <a href="{{ url_for('main.running_game', username=username) + '#section-game'}}"><i class="fa-solid fa-play"></i>Play the game</a>
        </div>
        <div class="main__statistic">
            <div class="main__darken-gradient"></div>
            <div class="main__statistic--title">
                <h4>My Statistics</h4>
                <p>{{username}}님의 게임 정보</p>
            </div>
            <div class="main__statistic--element">
                <div class="statistic--option rank">
                    <i class="fa-solid fa-award"></i>
                    <span>Total Rank</span>
                    <strong># {{ "{:,}".format(total_rank) }}</strong>
                </div>
                <div class="statistic--option stage">
                    <i class="fa-solid fa-crown"></i>
                    <span>Best Stage</span>
                    <strong>{{ "{:,}".format(best_stage) }}</strong>
                </div>
                <div class="statistic--option score">
                    <i class="fa-solid fa-square-poll-vertical"></i>
                    <span>Best Score</span>
                    <strong>{{ "{:,}".format(best_score) }}</strong>
                </div>
            </div>
        </div>
        <div class="main__myinfo">
            <div class="main__myinfo--title">
                <h4>My Profile</h4>
                <p>{{username}}님의 프로필</p>
            </div>
            <div class="main__myinfo--section">
                <div class="myinfo--option profile">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="myinfo--option nickname">
                    <h5>{{username}}</h5>
                </div>
                <div class="myinfo--option detail">
                    <div class="detail-list">
                        <i class="fa-solid fa-envelope"></i><span>{{playerEmail}}</span>
                    </div>
                    <div class="detail-list">
                        <i class="fa-solid fa-right-to-bracket"></i><span>{{playerJoinDate}}</span>
                    </div>
                    <div class="detail-list">
                        <i class="fa-solid fa-star"></i><span>{{totalExp}} 개</span>
                    </div>
                </div>
                <div class="myinfo--option tier">
                    <i id="tier-icon" class="fa-solid"></i>
                    <h5 id="tier-name"></h5>
                    <span id="tier-percent">상위 <strong>0.00</strong>%</span>
                </div>
                <div class="myinfo--option decoration">
                </div>
            </div>
            <div class="main__myinfo--level">
                <h5><i class="fa-solid fa-star"></i> Lv.{{totalLevel}}</h5>
                <div class="myinfo--levelgraph">
                    <div class="myinfo--progress"></div>
                    <h5>{{totalExp}} / {{totalLevel ** 2 * 100}}</h5>
                </div>
            </div>
        </div>
        <div class="main__profile--option">
            
        </div>
        <footer class="main__footer">
            <div class="main__footer--element">
                <i class="fa-brands fa-github fa-xl"></i>
                <i class="fa-solid fa-envelope fa-xl"></i>
                <i class="fa-brands fa-google-plus-square fa-xl"></i>
            </div>
            <div class="main__footer--element">
                <p>Copyright © 2022 dev_rookiand.co.,Ltd. All rights reserved.</p>
                <p>Contact author for more information. <strong>gwangin1999@naver.com</strong></p>
            </div>
        </footer>
        <script type="module" src="../static/js/tier.js"></script>
        <script type="module" src="../static/js/levelprogress.js"></script>
    </div>
</body>
</html>