@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Black+Han+Sans&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Oswald:wght@200;400;700&family=Secular+One&family=Source+Sans+Pro&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');


$color-white: rgb(255, 255, 255);
$color-space: linear-gradient(rgb(48, 0, 223), rgba(154, 0, 192, 0.9));
$color-darken-space: linear-gradient(rgb(37, 0, 170), rgba(98, 0, 122, 0.9));
$color-space-reversed: linear-gradient(rgba(98, 0, 122, 0.9) 40%, rgb(37, 0, 170));


@mixin space-gradient {
    background: linear-gradient(rgb(48, 0, 223), rgba(154, 0, 192, 0.9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin space-darken-gradient {
    background: linear-gradient(rgb(37, 0, 170), rgba(98, 0, 122, 0.9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin space-gradient-vertical {
    background: linear-gradient(90deg,rgb(48, 0, 223), rgba(154, 0, 192, 0.9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin section-gradient-title {
    color: $color-white;
    text-shadow: 0px 2px rgba(42, 0, 119, 0.5);
    text-align: center;

    position: relative;
    top: 4vw;

    h4 {
        height: 5.5vw;
        margin: 0;

        font-size: 5.5vw;
        text-shadow: 0px 0.3vw rgb(30, 0, 163);
    }

    p {
        margin: 0;

        font-size: 2vw;
        font-family: 'Black Han Sans', sans-serif;
        text-shadow: 0px 0.2vw rgb(30, 0, 163);
    }
}

@mixin section-image-title {
    color: $color-white;
    text-shadow: 0px 2px rgba(42, 0, 119, 0.5);
    text-align: center;

    position: relative;
    top: 4vw;

    h4 {
        height: 5.5vw;
        margin: 0;

        @include space-darken-gradient;
        text-shadow: 0px -4px $color-white;
        font-size: 5.5vw;

        &:hover {
            text-shadow: 0px -2px $color-white;
        }
    }

    p {
        margin: 0;

        @include space-darken-gradient;
        text-shadow: 0px -2px $color-white;
        font-size: 2vw;
        font-family: 'Black Han Sans', sans-serif;
    }
}

html { 
    font-family: sans-serif; 
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
} 

body {
    margin: 0;
    padding: 0;

    font-family: 'Bebas Neue'
}

.main__navbar {
    width: 100vw;
    height: 3.5vw;

    display: flex;
    justify-content: center;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));

    position: absolute;
    left: 0;
    right: 0;
    margin: auto;

    a {
        flex-basis: 10vw;
        margin: 1vw 1vw;
        
        font-size: 1vw;
        color: rgb(255, 255, 255);
        text-shadow: 0px 2px rgb(31, 0, 141);
        text-decoration: none;
        text-align: center;

        transition: font-size 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);

        &:hover {
            font-size: 1.1vw;
        }

        i {
            padding-right: 0.4vw;
        }
    }
}

.main__background {
    width: 100vw;
    height: 40vw;

    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)), url(../img/bg_img.jpg);
    background-size: cover;

    color: rgb(255, 255, 2556);

    text-align: center;

    h3 {
        position: relative;
        top: 10vw;

        margin: 0;
        
        @include space-gradient;
        font-size: 5.5vw;
        text-shadow: 0px -5px rgba(255, 255, 255, 1);
    }

    p {
        position: relative;
        top: 10vw;

        margin: 0;
        
        @include space-darken-gradient;
        font-size: 2vw;
        text-shadow: 0px -4px rgba(255, 255, 255, 1);
    }

    a {
        position: relative;
        top: 17.5vw;

        padding: 0.5vw 2.5vw;
        background: linear-gradient(rgb(52, 0, 134), rgb(30, 0, 163));
        border-radius: 5vw;
        box-shadow: 0px 0.15vw 10px rgba(21, 0, 78, 0.5);

        font-size: 2.75vw;
        color: $color-white;
        text-decoration: none;
        text-align: center;
        text-shadow: 0px 4px 1px rgba(21, 0, 78, 0.5);

        transition: font-size 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);

        &:hover {
            font-size: 3vw;
        }

        i {
            margin: auto 1vw;
        }
    }
}

.main__information {
    width: 100vw;
    height: 45vw;

    background: $color-space; 
}

.main__information--title {
    @include section-gradient-title;
}

.main__information--element {
    width: 80vw;
    height: 22.5vw;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: relative;
    top: 7.5vw; left: 0vw; right: 0vw;
    margin: auto;

    background: $color-white; 
    background-size: cover;
    border-radius: 25px;
    box-shadow: 0px 5px 2px rgba(30, 0, 163, 0.25);

    .information--guide {
        flex-basis: 20vw;

        @include space-gradient;
        text-align: center;
        transition: all 0.3s ease-out;

        i {
            margin: 0vw auto 0.75vw auto;
            font-size: 7.5vw;
        }

        span {
            display: block;
            margin: 0vw auto;
            
            font-size: 3vw;
        }

        p {
            width: 13vw;
            margin: 0.5vw auto 0vw auto;

            font-family: 'NanumSquare', sans-serif;
            font-size: 1.1vw;
        }

        &:hover {
            flex-basis: 19vw;
            margin: 0vw 2vw;
        }
    }
}

.main__darken-gradient {
    width: 100vw;
    height: 5vw;

    display: flex;
    justify-content: center;

    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));

    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.main__leaderboard {
    width: 100vw;
    height: 60vw;

    background-image: url(../img/bg_img2.jpg);
    background-size: cover;

    color: rgb(255, 255, 2556);

    text-align: center;
}

.main__leaderboard--title {
    @include section-image-title;
}

.main__leaderboard--list {
    width: 80vw;
    height: 39vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;

    position: relative;
    top: 7.5vw; left: 0vw; right: 0vw;
    margin: auto;

    background: $color-white; 
    background-size: cover;
    border-radius: 25px;
    box-shadow: 0px 5px 2px rgba(30, 0, 163, 0.25);

    .leaderboard--header {
        flex-basis: 80vw;
        height: 4vw;
    
        background: $color-darken-space;
        border-radius: 20px 20px 0px 0px;
    
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    
        span {
            flex-basis: 20vw;
            margin: 1.1vw auto 0vw auto;

            color: $color-white;
            font-family: 'Black Han Sans', sans-serif;
            font-size: 2vw;  
        }
    }

    .leaderboard--list {
        flex-basis: 80vw;
        height: 3.3vw;

        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;

        text-align: center;
    
        span {
            flex-basis: 20vw;
            margin: auto;
            color: rgb(30, 0, 163);
            font-size: 1.75vw;   
        }

        i {
            margin-right: 10px;
        }

        &:nth-child(even) {
            background: rgba(48, 0, 223, 0.05);
            border-top: 1px solid rgba(21, 0, 78, 0.1);
            border-bottom: 1px solid rgba(21, 0, 78, 0.1);
        }
    }
}

.main__footer {
    width: 100vw;
    height: 10vw;

    text-align: center;
    background: $color-space-reversed;
}

.main__footer--element {
    color: $color-white;
    
    i {
        width: 2.5vw;
        height: 2.5vw;
        margin: 2vw 4vw 1vw 4vw;

        font-size: 2vw;
        line-height: 2.5vw;
    }
    
    p {
        margin: 0.2vw 0vw;
        font-family: 'Oswald', sans-serif;
        font-size: 1vw;
    }
}